@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    
}
.icons{
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

}
button{
    cursor: pointer;
    margin-top: 10px;

    width: 220px;
    height: 220px;
}
h1, h2, h4{
    text-align: center;
}
Lottie{
    width: 200px;
    height: 100px;
}